h1 {
    font-size: 60px;
}

.firstParagraph {
    color: purple;
    font-size: 25px;
    background-color: green;
}

li {
    font-size: 18px;
    color: red;
}

ul {
    border: 2px solid orange;
}

